#container-register-roletools{
    display: flex;
    color: white;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

}

#container-register-roletools > form {
    background: black;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
    

}

#container-register-roletools > form > input{

    width: 50%;
    max-width: 200px;
    padding: 1%;

}

#container-register-roletools > form > a {
    font-size: 15px;
    margin-top: 2%;
}

.input-label-roletool{

    font-size: 3em;
}