
#container-chatroom{
    position: relative;
    top: 10%;
    max-width: 1100px;
    height: 70%;
    margin: 0 auto;
    background: black;
    font-size: 16px;
    color: white;
    display: grid;
    grid-template-columns: 15% 85%;
    grid-template-rows: 7% 80% 13%;
    border: solid 3px rgb(50, 88, 105);
    border-radius: 5px

}

#title-list{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1;
    background: #2e2e2e;
    font-size: 20px;
    border-bottom: solid 3px rgb(50, 88, 105);
    border-right: solid 3px rgb(50, 88, 105);
}

#title-list > div {
    display: block;
}

#main-chat-title{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2e3a5a;
    grid-column: 2/-1;
    grid-row: 1;
    text-align: center;
    font-size: 1.5em;
    border-bottom: solid 3px rgb(50, 88, 105);
}

#main-chat-title > div{
    display: inline;
    width: fit-content;

}

#list-users{
    background: #4b4b4b;
    grid-column: 1;
    grid-row: 2/-1;
    font-size: 1.2em;
    border-right: solid 3px rgb(50, 88, 105);
    border-top: solid 3px rgb(50, 88, 105);
    overflow: auto;
    text-align: center;
    
}

.chat-box{
    background: #1e272e;
    overflow: auto;
    display: flex;
    flex-direction: column;
    padding: 2%;
    
}

.chat-box > div {

    padding: 10px;
    color: white;
    font-size: 20px;
    font-weight: bold;

}


.system-chat{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}

.myuser-chat{

        text-align: right;
        width: fit-content;
        background: rgb(0, 58, 93);
        align-self: flex-end;
        border-radius: 20px;
        margin-bottom: 15px;
        box-shadow: 1px 1px 3px rgb(0, 0, 0);

}

.users-chat{

    width: fit-content;
    background: rgb(0, 58, 93);
    border-radius: 20px;
    margin-bottom: 15px;
    box-shadow: 1px 1px 3px rgb(0, 0, 0);


}

#chat-in{
    display: flex;
    align-items: center;
    background: rgb(221, 220, 220);
    margin-left: 1px;
    border-bottom: solid 3px rgb(50, 88, 105);
    border-top: solid 3px rgb(50, 88, 105);
    color: black;
}

#chat-in >button{
    height: fit-content;
    padding: 10px;
    background: rgb(228, 228, 228);
    border-radius: 10px;
    margin-right: 5px;
    box-shadow: 1px 1px 3px rgb(0, 0, 0);
    font-weight: bold;
    cursor: hand;
    cursor: pointer;
}

#chat-in > button:hover{
    background: rgb(214, 214, 214);
}

#chat-in > textarea{
    width: 100%;
    height: 100%;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    background: rgb(221, 220, 220);
}