#main-container-projects{
    grid-column: 1/-1;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
    width: 75%;
    background-color: transparent;
    justify-content: center;
    opacity: 0;
    animation-name: fadein1;   /*Animations localized in index.css*/
    animation-duration: .5s;
    animation-fill-mode: forwards;
    /* -webkit-box-shadow: 0px 0px 25px rgb(126, 250, 250);
    -moz-box-shadow: 0px 0px 25px rgb(126, 250, 250);
    box-shadow: 0px 0px 25px rgb(126, 250, 250);
    border:solid 2px aqua; */

}

#head-projects{
    margin-top: 5%;
    display: block;
    color: white;
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: bold;
    font-family: sans-serif;
   
}

#head-projects > a{
    color: rgb(97, 197, 236);
    text-decoration:none
}

#head-projects > a:visited a:active a:link{
    text-decoration: none;
}

#title-projets > a:hover{
    color: rgb(78, 243, 188);
}


.projects{
    padding-right:1%;
    width: fit-content;
    align-self: center;
    color:white;
    display: inline-block;
    text-align: justify;
    font-weight: bold;
    font-size: calc(.7em + .5vw);
    font-family: sans-serif;
    line-height: 3rem;
    letter-spacing: .2rem;
    background:  rgb(0, 26, 32);
    margin: 1%;
    cursor:hand;
    cursor:pointer;
    border: solid 2px  rgb(0, 26, 32);
    border-radius: 20px;
   


}


.projects:hover{


    -webkit-box-shadow: 0px 0px 25px rgb(126, 250, 250);
    -moz-box-shadow: 0px 0px 25px rgb(126, 250, 250);
    box-shadow: 0px 0px 25px rgb(126, 250, 250);
    border: solid 2px aqua;
    
   
}

.projects:hover > .title-projects {

    color: white;
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,1) 34%, rgba(2,0,36,1) 44%, rgba(0,175,210,1) 81%, rgba(0,212,255,1) 85%);
}


.title-projects{
    font-weight: bold;
    letter-spacing: .2rem;
    width: 100%;
    color:black;
    text-align: center;
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(0,175,210,1) 0%, rgba(0,212,255,1) 25%, rgba(0,0,0,1) 84%);
}

.img-projects{
    position:relative;
    max-width: 400px;
    max-height: 300px;
    border: solid 1px white;
    margin-bottom: 1rem;
    margin: 1%;
    float: left;
}

.img-projects > img{
    object-fit:fill;
    width: 100%;
    height: 100%;
 
}