
#contact{
    grid-column: 1/-1;
    grid-row: 2/3;
    text-align: center;
    justify-self: center;
    color: white;
    width: 70%;
    padding: 2em;
    padding-top:4em;
    background-color: rgb(0, 13, 24);
    -webkit-box-shadow: 0px 0px 25px rgb(0, 112, 112);
    -moz-box-shadow: 0px 0px 25px rgb(0, 112, 112);
    box-shadow: 0px 0px 25px rgb(0, 112, 112);
    border-left:solid 2px rgb(0, 112, 112);
    border-radius: 20px;
    opacity: 0;
    animation-name: fadein3;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}

#header-rrss{

    font-size: calc(1em + .5vw);

}


.grid-input-rrss{

    grid-column: span 1;
}

.grid-texttarea-rrss{

    grid-column: 1/-1;
    grid-row: 2/4;

}

.label-form{    
    font-size: calc(1em + 1vw);

}


#mensaje{
    border-radius: 10px;
    width: 94%;
    height: 80%;
    margin-top: 2%;
    padding: 3%;
}

.input-rrss{
    
    margin: 0 auto;
    margin-top: 2%;
    width:90%;
    height: 20px;
    padding: 5%;
    padding-left:2%;
    border-radius: 20px;


}

.errorinput-msg-rrss{
    font-size: 1.5rem;
}


#captcha{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;


}

#btn-form-rrss{
    margin-top: 4%;
    grid-column: 1/-1;
   
}

#reCAPTCHA > p {
    color: white;
    font-size: calc(1em + .1vw);
}

#btn-form-rrss > input{
    width: 30%;
    margin: auto;
    padding: 1%;
    border-radius: 20px;
    cursor: pointer;
    cursor: hand;
}

#btn-form-rrss > input:hover {

    background: rgb(204, 204, 204);

}

#messageSend{
    color: green;
    font-size: 15px;
}


#redes > p{
    color: white;
    font-size: calc(1em + .5vw);
}

.icon-rrss{
    margin: 1%;
    max-height: 40px;
    max-width: 40px;

}

@media only screen and (max-width: 840px){

    #contact{
        width: 100%;
    }

    #header-rrss{
        font-size: calc(1em + 1vw);
    }

}

@media only screen and (max-width: 600px){

    #contact{
        margin-top: 5%;
        width: 100%;
    }

    #contact > form{
        margin-top: 10%;
        grid-gap: 0;
        width: 100%;

    }

    .input-rrss{
        padding: 5%;
        font-size: 16px;
    }

    #mensaje{
        font-size: 16px;
    }

    .grid-texttarea-rrss{
        grid-row: 1 span;
    }

    .label-form{
        font-size: 3em;
    }
    
    #header-rrss{
        font-size: 2.5em;
        padding-bottom: 2%;
        border-bottom: solid 2px white;
    }

    #btn-form-rrss{
        margin-top: 20px;
    }

    #btn-form-rrss > input {
        width: 80%;
        height: 40px;
    }

}