@font-face {
    font-family: 'Sriracha';
    src: local('Sriracha Regular'), local('Sriracha-Regular'),
        url('Sriracha-Regular.woff2') format('woff2'),
        url('Sriracha-Regular.woff') format('woff'),
        url('Sriracha-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }