---
import LinkButton from "./LinkButton.astro"

const pages = [ 
    {label : "Inicio", path: "/"},
    {label : "Proyectos", path: "#proyectos"},
    {label : "Experiencia", path: "#experiencia"},
    {label : "Habilidades", path: "#habilidades" },
    {label : "Blog", path: "/blog"}, 
]

---

<header class="flex flex-col sm:flex-row py-4 px-2 justify-between items-center w-full">
    <div class="w-full flex justify-center sm:justify-start relative">
        <h1>Emiliano Acevedo</h1>
        <span class="absolute top-0 right-3 sm:hidden font-bold transition-all" id="buttonNavBar">
            <img src="/svg/hambur.svg"/>
        </span>    
    </div>
    
    <nav>
        <ul id="navBar" class="sm:flex flex-col sm:flex-row gap-4 hidden transition delay-400" >
            {
                pages.map(p => (
                    <li class="flex justify-center">
                        <LinkButton href={p.path}>
                            {p.label}
                        </LinkButton>                   
                    </li>
                ))
            }
        </ul>
    </nav>
</header>


<script>
    const button = document.getElementById('buttonNavBar');
    const navBar = document.getElementById("navBar")
    
    button!.addEventListener('click', () => {
        switchModeNavBar();
        changeStateNavBarButton();
    })

    const changeStateNavBarButton = () => {
        const rotateExist = button.classList.contains("rotate-90");
        rotateExist ? button.classList.remove("rotate-90") 
                    : button.classList.add("rotate-90")
    }

    const switchModeNavBar = () =>{
        const hiddenExist = navBar?.classList.contains("hidden");
        hiddenExist ? navBar?.classList.remove("hidden") 
                    : navBar?.classList.add("hidden")
    }

</script>