

.trivia-block{
    grid-column: 1/-1;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  
  }

  #trivia-text{
    grid-column: 1;
    position: relative;
    display:flex;
    justify-content:center;
    align-items: center
  
  }
  
  #trivia-register > i{
    color: rgb(234, 236, 97);
    font-size: 5em;
    margin-right: 2%;
  }
  
  #trivia-form{
    grid-column: 2;
    width: 40%;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-content: center;
    text-align: center;
    padding:2%;
  }
  
  p{
    font-size:0.6em;
    color: red;
    position: relative;
  }


  #trivia-text > div {

    letter-spacing: .1rem;
    font-weight: bold;
    font-size: 2rem;


  }
  
  .labelform{
    margin-top: 1%
  }
  
  
  .in {
    width: 60%;
    padding: 1%;
    margin: 0 auto;
    margin-top:1%;
    border:none;
    color: black;
    font-size: 0.9em;
  
  
  }
  
  .select{
    width: 63%;
    margin: 0 auto;
    height: fit-content;
  }
  
  .select__control{
    margin: 0 auto;
    margin-top:1%;
    border:none;
  }
  
  .select__valuecontainer{
    color: black;
    font-size: 1em;
    width: 64%;
  
  }
  
  .select__menu{
    color:white;
    margin: 0 auto;
  }
  
  .select__menu-list{
    background-color: black;
    border-right: solid 2px white;
    border-left: solid 2px white;
    border-bottom: solid 2px white
  }
  
  .select__option:hover{
    background-color: white;
    color: black;
  }
  
  .select__option::selection{
    background-color: aqua;
    color: black;
  }
  
  
 

  #btn {
    font-size: calc(0.1em + 1vw);
    margin: 0 auto;
    margin-top: 5%;
    width: 35%;
    text-align: center;
    background: aqua;
    border-radius: 10px;
  
  }

  #btn:hover{


    -webkit-box-shadow: 0px 0px 25px rgb(126, 250, 250);
    -moz-box-shadow: 0px 0px 25px rgb(126, 250, 250);
    box-shadow: 0px 0px 25px rgb(126, 250, 250);


}
  
  i{
    color: rgb(255, 209, 65);
  }
  
  #emoji-jump{
    font-size: 4em;
    position:relative;
    left: -5%;
    transform: translate(10% 10%);
    animation: jump 1.2s infinite;
  }
  
  #emoji-girar{
    position:relative;
    transform: translate(0% 0%);
    animation: girar 1.6s infinite;
  }


  @media (max-width:840px){


    .trivia-block{
      flex-direction: column;
      width: 100%;
      align-items: center;
      margin-top: 10%;
    }


    #trivia-text{
            grid-column: 1/-1;
            left: 0; 
            display: block;
            text-align: center;
    }

    #trivia-text > div {

      font-size: 4em;
    }

    #trivia-text > i {
      font-size: 50px;
      margin: 0;
      
    }

    #emoji-jump{
      left: 0;
    }

    #trivia-form{

      width: 100%;
      grid-column: 1/-1;
      
    }

    .in{
      font-size: 3em;
      padding: 2%;
    }

    .select{
      width: 65%;
      font-size: 3em;
    }

    .labelform{
      font-size: 4em;
    }

    #btn{

      display: inline-block;
      width: 100%;
      padding: 3%;
      font-size: 3em;

    }

    #foot-pages{
      margin-top: 10%;
      flex-direction: column;
      padding: 0;

    }

   

}
  
  /*---------------------FRAMES---------------------------------*/
  
  @keyframes jump {
    0% { transform: translate(-1%, -1%) scale(1.25, 0.75); }
    50% { transform: translate(-1%, -90%) scale(1, 1); }
    100% { transform: translate(-1%, -1%) scale(1.25, 0.75); }
  }
  
  @keyframes girar {
    0% {transform: translateX(0%) rotate(0deg);}
    50% {transform: translateX(90%) rotate(180deg);}
    100% {transform: translateX(0%) rotate(0deg);}
  
  }
  
  
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
  }