
#resultado{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;

}

#buttonTablas-resultado{
    margin-top: 10%;
}

.resultado > div > i {
    color: rgb(234, 236, 97);
    margin: 5%;
    font-size: 4em;
}

